html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f8f8f8;
  color: #222;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}


header {
  background: #070000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 15px;
}

header h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: white;
}

header img {
  width: 60px;
  height: auto;
}

.carrito-derecha {
  width: 60px;
  height: auto;
}


.carrito {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  max-width: none;
  box-sizing: border-box;
}

.carrito h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.carrito h4 {
  font-weight: normal;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 5px;
}

.producto img {
  width: 90px;
  height: auto;
  border-radius: 8px;
}

.info {
  flex: 1;
  margin-left: 20px;
}

.info h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
}

.info p {
  margin: 3px 0;
  font-weight: 500;
  color: #333;
}

.contador {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contador button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}


.resumen {
  text-align: right;
  margin-top: 10px;
}

.resumen p {
  margin: 5px 0;
}

.btn-pagar {
  display: inline-block;
  margin-top: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-pagar:hover {
  background-color: black;
  color: white;
}


.tarjetas {
  text-align: right;
  margin-top: 10px;
}

.tarjetas img {
  width: 45px;
  margin-right: 10px;
}


@media (max-width: 768px) {
  .carrito {
    padding: 15px;
  }

  .producto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info {
    margin-left: 0;
  }

  .resumen,
  .tarjetas {
    text-align: center;
  }
}
